<header class="container">
    <div class="header-wrapper">
        <div class="reg">
            <p>
                <a href="/register">Registration</a>
            </p>
            <p>
                <a href="/sign-in">Sign in</a>
            </p>
        </div>
        <div class="logo">
            <a href="/"><h1>My Blog</h1></a>
        </div>
        <nav>
            <a class="menu-trigger"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/live">Live</a></li>
                <li><a href="/FAQ">F.A.Q.</a></li>
            </ul>
        </nav>
    </div>
</header>