<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    
    <%- include('../partials/header') %>

    <div class="container">
        <div class="blog-decoration">
            <div class="blog-decorate-top-page-one"></div>
            <div class="blog-decorate-top-page-two"></div>
        </div>
        <div class="pages">
            <div class="row">
                <div class="col-lg-7 col-xl-8 order-md-2 order-lg-1">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <h2>Posts</h2>
                        </div>
                        <div class="col-12">
                            <div class="card mb-3">
                                <img class="card-img-top" src="http://www.eurasiatravel.kz/assets/images/resources/2274/7d3a9b87f8feb33dc9d9bc8194314e9073cd7eb4.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="/post/1">Card title</a></h4>
                                    <span class="mr-2 text-muted">Category: post1c</span><span class="text-muted"><i class="fa fa-eye mr-1" aria-hidden="true"></i>12</span>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Uploaded at 11.02.2017</small></p>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <img class="card-img-top" src="https://img00.deviantart.net/96e1/i/2011/260/3/2/september_striations_panorama_by_billyunderscorebwa-d3j3kzc.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="/post/2">Card title</a></h4>
                                    <span class="mr-2 text-muted">Category: post1c</span><span class="text-muted"><i class="fa fa-eye mr-1" aria-hidden="true"></i>12</span>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Uploaded at 11.02.2017</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4 order-md-1 order-lg-2 mb-md-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mr-lg-3">
                                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR60sAaSDbY3t-EcFXgH0bYlphTnogAfFOwPIHH4U79jRiG7ZQ4" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Full Name</h4>
                                    <p class="card-text">Some info about me.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a class="btn btn-block btn-outline-warning text-dark" href="#" role="button">
                                            <div class="text-left">
                                                <i class="fa fa-2x fa-facebook-official mr-2" aria-hidden="true"></i><span style="vertical-align: 4px;">My Facebook</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="btn btn-block btn-outline-warning text-dark" href="#" role="button">
                                            <div class="text-left">
                                                <i class="fa fa-2x fa-twitter-square mr-2" aria-hidden="true"></i><span style="vertical-align: 4px;">My Twitter</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="btn btn-block btn-outline-warning text-dark" href="#" role="button">
                                            <div class="text-left">
                                                <i class="fa fa-2x fa-instagram mr-2" aria-hidden="true"></i><span style="vertical-align: 4px;">My Instagram</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <p class="text-muted">My status</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>